body {
    background: linear-gradient(to bottom, #3498db, #8e44ad);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
select,
button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.3s;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}
